<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../static/favicon.ico">
	<title>Admin Page</title>
	<!--Emoji :P-->
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
	<!-- Custom font and icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="text-center">
<!-- Navigation -->
	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">

				<h3 class="masthead-brand">Hello World <i class="em em-earth_americas"></i></h3>

				<nav class="nav nav-masthead justify-content-center">
								<a class="nav-link active" href="#">Home</a>
								<a class="nav-link" href="/admin/database">View DB</a>
								<a class="nav-link" href="#">Other</a>
							</nav>



			</div>
		</header>

		<main role="main" class="inner cover">
			<h1 class="cover-heading"><span th:utext="${userName}"></span></h1>
			<form th:action="@{/logout}" method="get" >
				<button class="btn btn-md btn-success">Logout</button>
			</form>
			<p class="lead"><p class="admin-message-text text-center" th:utext="${adminMessage}"></p></p>
			<p class="lead">
				<a href="https://github.com/zhangylz/szclassdesign" class="btn btn-lg btn-secondary">View on Github <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
			</p>
		</main>

		<footer class="mastfoot mt-auto">
			<div class="inner">
				<p>Made with <i class="em em-heart"></i> by ylzh</p>
			</div>
		</footer>
	</div>

<!-- ================================================== -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>